<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Revisión de horas</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <div>
        <ion-select placeholder="Seleccione unidad" type="ion-select" [(ngModel)]="unidad" name="unidad" ngModel required>
            <ion-option *ngFor="let item of units$ | async">
                {{item.name}}
            </ion-option>
        </ion-select>
    </div>

    <ion-list *ngFor="let item of users$ | async">

        <p align="center"><strong>Empleado:</strong> {{ item.key }}</p>
        <hr />

        <button ion-item *ngFor="let item of horasIngresadas$ | async" (click)="itemTapped($event, item)">
            <p><strong>Nombre del proyecto: </strong>{{item.proyecto}}</p>
            <p><strong>Horas: </strong>{{item.horas}}</p>
            <p><strong>Minutos: </strong>{{item.minutos}}</p>
            <p><strong>Fecha: </strong>{{item.fecha}}</p>
            <p><strong>Tipo: </strong> Horas normales</p>
        </button>

        <button ion-item *ngFor="let item of tareas$ | async" (click)="itemExtraTapped($event, item)">
            <p><strong>Unidad: </strong>{{item.unidad}}</p>
            <p><strong>Nombre del proyecto: </strong>{{item.proyecto}}</p>
            <p><strong>Horas: </strong>{{item.horas}}</p>
            <p><strong>Minutos: </strong>{{item.minutos}}</p>
            <p><strong>Fecha: </strong>{{item.fecha}}</p>
            <p><strong>Tipo:</strong> Horas extra</p>
        </button>

    </ion-list>
    
</ion-content>
