<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Time</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <div align="right">
        <button ion-button icon-only (click)="onAssignHours()">
            <ion-icon name="add"></ion-icon>
        </button>
    </div>

  <ion-list>


    <button ion-item *ngFor="let item of units$ | async" (click)="itemTapped($event, item)">
      {{item.name}}
    </button>
       
      <!--<div class="item-note" item-end>
          {{item.name}}
      </div>-->

  </ion-list>
  <!-- <div *ngIf="selectedItem" padding></div> -->
</ion-content>
