page-admin {

    .center4 {
        position: absolute;
        left: 54%;
        top: 55%;
    }

    .center3 {
        position: absolute;
        left: 3%;
        top: 55%;
    }

    .center2 {
        position: absolute;
        left: 3%;
        top: 15%; //35%
    }

    .center {
        position: absolute;
        left: 54%;
        top: 15%; //35%
    }

    .button {
        height: 120px;
        width: 40%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}
